<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ pageTitle }}</h2>
            </div>
            <div class="mdl-card__supporting-text" *ngIf='product'>
                <ul>
                    <img [src]='product.imageUrl' 
                               [title]='product.productName'>
                    <li>{{product.productName}}</li>
                    <li>{{product.productCode | lowercase}}</li>
                    <li>{{product.releaseDate}}</li>
                    <li>{{product.description}}</li>
                    <li>{{product.price | currency:'USD':true:'1.2-2' }}</li>
                    <li>
                        <ai-star [rating]='product.starRating' ></ai-star>
                    </li>
                </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a (click)='onBack()' class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Back
                </a>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
                </button>
            </div>
            </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>